.container{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
}

nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 2em;
}

nav p{
    margin-left: 5rem;
    width: 100%;
    color: black
}

nav ul{
    width: 100%;
    list-style: none;
    text-align: right;
    color: black
}

nav ul li{
    display: inline-block;
    margin-right: 5rem;
}

nav ul li a{
    text-decoration: none;
    color: black
}

nav ul li a:hover{
    text-decoration: underline;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5em;
    position: relative;
    justify-items: center;
    height: 10em;
}

.card-1{
    width: 80%;
    background-color: rgb(46, 46, 46);
    border-radius: 1em;
    outline: solid black .2em;
}

.card-1 img{
    width: 35%;
    margin-left: 10em;
}

.card-1 h2, p{
    margin-left: 1em;
    color: white;
}

.card-2{
    width: 80%;
    background-color: rgb(46, 46, 46);
    border-radius: 1em;
    outline: solid black .2em;
}

.card-2 h2, p{
    margin-left: 1em;
    color: white;
}

.card-2 p{
    margin-right: 1em;
}

.card-2 img{
    width: 30%;
    margin-left: 10em;
}

button{
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: .5em;
}

footer{
    background-color: rgb(46, 46, 46);
    margin-top: 5em;
    padding: 1em 0 1em 0;
    position: absolute;
    width: 100%;
    left: 1px;
    top: 30em;
}

footer p{
    color: white;
    text-transform: uppercase;
    margin-left: 1em;
}